body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}S

nav ul li a {
    color: white;
    text-decoration: none;
}

.produk-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.produk {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px;
    margin: 10px;
}

.produk img {
    max-width: 100%; /* Membuat gambar tidak lebih lebar dari kontainer */
    height: auto;    /* Mempertahankan rasio aspek gambar */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}